/* global styling */
body {
  align-content: middle;
  font-family: 'Open Sans', sans-serif;
}
div{
  margin: 40px 40px 40px 40px;
  margin: auto;
}
#wrapper {
  align-content: center;
  max-width: 300 px;
  margin: 10px 10px 10px 10px;
  padding: 10% 10% 10% 10%;
}
section {
  align-content: center;
  max-width: 100 px;
  margin: 10px 10px 10px 10px;
  padding: 10% 10% 10% 10%;
}
a {
  text-decoration: none;
}
h1 {

  margin: 15px 0;
  font-size: 2.9em;
  font-weight: bolder;
  line-height: 0.8em;
}
h2 {
  font-size: 1.9em;
  margin: -5px 0 0;
  font-weight: 800;
}
img {
  max-width: 100%;
}


/*header*/
header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}
#name {
  font-weight:1000;
  float: left;
  margin-left: 5%;
  text-align: left;
  width: 45%;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 0.825em;
  margin-bottom: 0px;
}
header {
  margin-bottom: 60px;
}

/*navbar*/
nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 900;
  padding: 15px 10px;
}

/*color*/

h1, h2 {
  color: #333333;
}

a {
  color: #333333;
}

body {
  background-color: #333333;

}


header {
  background: #333333;

}

/* logo text */
h1, h2 {
  color: #fff;;
}

/* links */
a {
  color: #333333;;
}

/* nav link */
nav a, nav a:visited {
  color: #FFF;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: #FFF;
}

/*portfolio*/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  width: 45%;
  margin: 2.5%;
  background-color: #f0ffff;
  color: #bdc3c7;
}

#gallery li a p {

  padding: 5%;
  margin: 0;
  font-size: 0.75em;
  color: #333;
}

/*footer*/
footer {
  vertical-align: bottom;
  float: bottom;
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}
footer div {
  vertical-align: middle;
  max-width: 100%;
}

.icon {
  width: 120px;
  height: 120px;
  margin: 5px 5px;
}

/**********************************
MEDIA QUERIES
***********************************/

@media screen and (min-width: 680px) {

  /**********************************
  TWO COLUMN LAYOUT
  ***********************************/

  #primary {
    width: 50%;
    float: left;
  }

  #secondary {
    width: 40%;
    float: right;
  }



  /**********************************
  PAGE: PORTFOLIO
  ***********************************/

  #gallery li {
    width: 40%;
  }

  #gallery li:nth-child(4n) {
    clear: left;
  }

  /**********************************
  PAGE: ABOUT
  ***********************************/

  .profile-photo {
    float: left;
    margin: 0 5% 80px 0;
  }

}

@media screen and (min-width: 680px) {

  /**********************************
  HEADER
  ***********************************/

  nav {
    background: none;
    float: right;
    font-size: 2.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }

  #name {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }
  .icon{
    float: bottom;
  }
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.825em;
    margin-bottom: 20px;
  }

  header {
    margin-bottom: 60px;
  }


}
